{% extends "navigation.html" %}
{% block content %}
<div style="position: relative; height: 1100px;">
<h2>Binomial Distribution</h2>
<button class="ui primary button" onclick="save_exp_data();" style="right: 0px; margin-bottom: 19px; position: absolute; top: 50px;">
  Save
</button>
{% for i in range(140) %}
{% if i%28 == 0 %}
<div style="width: 195px; float:left; padding-left: 30px;">
  {% endif %}
  <div class="ui left fluid labeled input">
    <div class="ui basic label">
      #{{i+1}}
    </div>
    <input type="text" placeholder="#number" style="width: 110px;" id="{{i+1}}">
  </div>
  {% if i%28 == 27 %}
</div>
{% endif %}
{% endfor %}
<button class="ui primary button" onclick="save_exp_data();" style="right: 0px; margin-bottom: 19px; position: absolute; bottom: 0px;">
  Save
</button>
</div>
{% endblock %}
{% block js %}
<script>
  data = {{data}}
  autosave_data = {{autosave_data}}
  {% include 'js/deney1.js' %}
</script>
{% endblock %}

