{% extends "navigation.html" %}
{% block content %}
<div style="height: 700px;">
       <h2>Fusion Latent Heat of Water</h2>
       <button class="ui primary button pull-right" style="margin-top: -50px;display:none;">
	 Save Your Results
       </button>
       <span style="float:left; margin-top:10px;">Weigh the calorimeter vessel (together with its lid) when it is empty.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     M1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="m1">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Weigh the measuring vessel and hot water together.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     M2
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="m2">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">The mass of the hot water is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled id="m_water">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Record the equilibrium temperature of the system as initial temperature.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     T1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="T1">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Weigh the calorimetervessel-water-ice system.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     M3
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="m3">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">The mass of the ice is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled id="m_ice">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the equilibrium temperature of the mixture.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Teq
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="T2">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <br>

	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">
	 <div style="height: 40px; width: 100%">
	   <button class="ui primary button pull-left" style="margin-top: 20px;" onclick="calculate();">
	     Calculate Results
	   </button>
	 </div>
	 <div class="ui section divider"></div>
	 
	 
	 <span style="float:left;">The heat energy given off by the vessel+hot water equals to</span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="Q_out" disabled>
	   <div class="ui basic label">
	     cal/g°C
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">Latent heat for solid to liquid phase change of water is</span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="L" disabled>
	   <div class="ui basic label">
	     J/g
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">and the relative error is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled id="rel_error">
	 </div>
	 <br>
</div>
{% endblock %}
{% block js %}
	 <script>
	   data = {{data}}
	   {% include 'js/deney3.js' %}
     </script>
{% endblock %}
