<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ifp</title>

    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

   <body>
     <div class="ui container" style="width: 1080px; height: 1150px; margin: 0 auto; padding-top: 50px; position: relative;">
       <h2>Heat Capacity of Solids</h2>
       <h3>Part I - heat capacity of calorimeter vessel</h3>
       <button class="ui primary button pull-right" onclick="window.location='/deney2/part2'" style="margin-top: -50px;">
	 Save & Go To Part II
       </button>
       <span style="float:left; margin-top:10px;">Weigh the calorimeter vessel (together with its lid) when it is empty.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Mcup
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="mcup">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Weigh the measuring vessel and cold water together.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Mw+Mcup
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="m1">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>

	 <br>
	 
	 <span style="float:left;">The mass of the cold water is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="mcold" disabled>
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the temperature after 10 minutes.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     T1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="T1">
	   <div class="ui basic label">
	     C
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the temperature of the hot water.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     T2
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="T2">
	   <div class="ui basic label">
	     C
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the equilibrium temperature of the mixture.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Teq
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="Teq">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Put the water in the calorimeter into the measuring cup and weigh it again.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     M2
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="m2">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <button class="ui primary button pull-left" style="margin-bottom: 20px;" onclick="calculate_part_one();">
	   Calculate Results
	 </button>
	 <br>
	 <div class="ui section divider"></div>
	 

	 <br>
	 <span style="float:left;">The mass of hot water is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="M" disabled>
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">Heat capacity of the calorimeter vessel is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="ccal" disabled>
	   <div class="ui basic label">
	     cal/gr°C
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">The absolute error is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="abs_error" disabled>
	 </div>
	 <br>
	 <span style="float:left;">and the relative error is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="rel_error" disabled>
	 </div>
	 <br>
     </div> <!-- container -->
     <script>
       {% include 'js/deney2.js' %}
     </script>
   </body>
