<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ifp</title>

    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

   <body>
     <div class="ui container" style="width: 1080px; height: 1150px; margin: 0 auto; padding-top: 50px; position: relative;">
       <h2>Heat Capacity of Solids</h2>
       <h3>Part II - the specific heat of solids</h3>
       <button class="ui primary button pull-right" onclick="" style="margin-top: -50px;">
	 Save Your Results
       </button>
       <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">Record the mass of the water.</div>
       <br>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     Mw glass
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     Mw iron
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     Mw graphite
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">Record the value of thermal equilibrium at temperature T2.</div>
	 <br>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     T2 glass
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     T2 iron
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     T2 graphite
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">Weigh and record the mass of the sample.</div>
	 <br>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     M glass
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     M iron
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     M graphite
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">The value of the temperature T1 of the oven.</div>
	 <br>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     T1 glass
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     T1 iron
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     T1 graphite
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">Put the sample at temperature T1 into the calorimeter vessel. Record the final temperature Tf.</div>
	 <br>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     Tf glass
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     Tf iron
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui label">
	     Tf graphite
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;">
	   <div class="ui basic label">
	     °C
	   </div>
	 </div>
	 <br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">The specific heat capacity of your samples are</div>
	 <br>
	 <div class="ui transparent input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui basic label">
	     glass
	   </div>
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	   <div class="ui basic label">
	     cal/g°C
	   </div>
	 </div>
	 <div class="ui transparent input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui basic label">
	     iron
	   </div>
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	   <div class="ui basic label">
	     cal/g°C
	   </div>
	 </div>
	 <div class="ui transparent input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui basic label">
	     graphite
	   </div>
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	   <div class="ui basic label">
	     cal/g°C
	   </div>
	 </div>
	 <br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">The relative errors are</div>
	 <br>
	 <div class="ui transparent input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui basic label">
	     glass
	   </div>
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	 </div>
	 <div class="ui transparent input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui basic label">
	     iron
	   </div>
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	 </div>
	 <div class="ui transparent input" style="width: 195px; margin-left: 50px; padding-left: 30px; float: left;">
	   <div class="ui basic label">
	     graphite
	   </div>
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	 </div>
	 <br>


     </div> <!-- container -->
     <script>
     </script>
   </body>
