{% extends "navigation.html" %}
{% block content %}
<div style="height: 800px;margin-top:50px;">
       <h2>The Ideal Gas Law</h2>
       <button class="ui primary button pull-right" onclick="" style="margin-top: -50px;display:none;">
	 Save Your Results
       </button>
       <br>
       <div style="margin-top:10px;">Measure the air column height for different temperatures and for 5 different mercury pressures (the difference between the mercury levels in the column). The gas volume V is equal to multiplication of height and cross sectional area of the pipe that involves gas.</div>

       {% for k in range(2) %}
       {% for j in range(3) %}
       <div style="width:30%;float:left;margin-top: 15px;text-align:center;">
	 <table class="ui celled table" style="width: 200px;margin:0 auto;">
	   <span style="font-weight:bold;">{{ k*30 + j*10+10 }} C</span>
	   <thead>
	     <tr>
	       <th style="width: 100px;">V (cm3)</th>
	       <th style="width: 100px;">P (cm-Hg)</th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for i in range(5) %}
	     <tr>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%">
		   <input type="text" placeholder="#number" style="width: 100%;border:none;" id="{{k*30+j*10+10}}_V_{{loop.index}}">
		 </div>
	       </td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="width: 100%;border:none;" id="{{k*30+j*10+10}}_P_{{loop.index}}">
		 </div>
	       </td>
	       </tr>
	       {% endfor %}
	   </tbody>
	   </table>
	 </div>
	 {% endfor %}
	 </br>
	 {% endfor %}

	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">
	 <div style="height: 40px; width: 100%">
	   <button class="ui primary button pull-left" style="margin-top: 20px;" onclick="calculate();">
	     Calculate Results
	   </button>
	 </div>
	 <div class="ui section divider"></div>
	 
</div>
{% endblock %}
{% block js %}	 

	 <script>
	   data = {{data}}
       {% include 'js/deney5.js' %}
     </script>
{% endblock %}
