{% extends "navigation.html" %}
{% block content %}
<div style="height: 800px;margin-top:50px;">
       <h2>Joule-Thomson Effect</h2>
       <br>
       <div style="margin-top:10px;">Adjust the initial pressure to the value 100kPa and reduce the pressure of 10kPa in steps. At each step wait one minute then record the temperature difference.</div>

       <div style="width:30%;float:left;margin-top: 15px;text-align:center;">
	 <table class="ui celled table" style="width: 200px;margin:0 auto;">
	   <span style="font-weight:bold;">CO2</span>
	   <thead>
	     <tr>
	       <th style="width: 100px;">P (kPa)</th>
	       <th style="width: 100px;">dT (K)</th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for i in range(11) %}
	     <tr>
	       <td style="">
		 {{ 100 - i * 10 }}
	       </td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="width: 100%;border:none;" id="CO2_V_{{loop.index}}">
		 </div>
	       </td>
	       </tr>
	       {% endfor %}
	   </tbody>
	   </table>
       </div>
       <div style="width:30%;float:left;margin-top: 15px;text-align:center;">
	 <table class="ui celled table" style="width: 200px;margin:0 auto;">
	   <span style="font-weight:bold;">N2</span>
	   <thead>
	     <tr>
	       <th style="width: 100px;">P (kPa)</th>
	       <th style="width: 100px;">dT (K)</th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for i in range(11) %}
	     <tr>
	       <td style="">
		 {{ 100 - i * 10 }}
	      </td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="width: 100%;border:none;" id="N2_V_{{loop.index}}">
		 </div>
	       </td>
	       </tr>
	       {% endfor %}
	   </tbody>
	   </table>
	 </div>
	 </br>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">
	   <div style="height: 40px; width: 100%">
	     <button class="ui primary button pull-left" style="margin-top: 20px;" onclick="calculate();">
	       Calculate Results
	     </button>
	   </div>
	   <div class="ui section divider"></div>

</div>
{% endblock %}
{% block js %}	 

	   
	 <script>
	   data = {{data}}
       {% include 'js/deney7.js' %}
     </script>
{% endblock %}
