{% extends "navigation.html" %}
{% block content %}
<div style="height: 1100px;margin-top:50px;">
       <h2>Thermal and Electrical Conductivity of Metals</h2>

       <span style="float:left; margin-top:10px;">Weigh the calorimeter vessel (together with its lid) when it is empty.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Mcal
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="mcal">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Heat some water using the kettle and measure the temperature.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Twater
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="twater">
	   <div class="ui basic label">
	     C
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Weigh the measuring vessel and hot water together.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Mves-cal
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="mw_mcup">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the temperature when it reaches equilibrium.</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     T
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="teq">
	   <div class="ui basic label">
	     C
	   </div>
	 </div>
	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">
	   <div style="height: 40px; width: 100%">
	     <button class="ui primary button pull-left" style="margin-top: 20px;" onclick="calculate_part_one();">
	       Calculate Results Part I
	     </button>
	   </div>
	   <div class="ui section divider"></div>
	 </div>
	 <br>
	 <p>
	 <span style="float:left;">The mass of the hot water is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="mhot" disabled>
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 </p>
	 <p>
	 <span style="float:left;">The heat capacity of water is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;text-align:right;" id="ccal" disabled>
	   <div class="ui basic label">
	     cal/C
	   </div>
	 </div>
	 </p>
	 
	 <span style="float:left; margin-top:10px;">Mass of cold water </span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     Mcold
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="mcold">
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
       <div style="width:400px;float:left;margin-top: 15px;text-align:center;">
	 <table class="ui celled table" style="width: 400px;margin:0 auto;">
	   <thead>
	     <tr>
	       <th style="width: 100px;">t (s)</th>
	       <th style="width: 100px;">T (K)</th>
	       <th style="width: 100px;">dT (K)</th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for i in range(10) %}
	     <tr>
	       <td style="">
		 {{ i * 180 }}
	       </td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="width: 100%;border:none;" id="t_{{i+1}}">
		 </div>
	       </td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="width: 100%;border:none;" id="dt_{{i+1}}">
		 </div>
	       </td>
	       </tr>
	       {% endfor %}
	   </tbody>
	   </table>
       </div>
       <br>
       	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">
	   <div style="height: 40px; width: 100%">
	     <button class="ui primary button pull-left" style="margin-top: 20px;" onclick="calculate_part_two();">
	       Calculate Results Part II
	     </button>
	   </div>
	   <div class="ui section divider"></div>
	 </div>

</div>
{% endblock %}
{% block js %}	 
	 
     <script>
       data = {{data}}
       {% include 'js/deney8.js' %}
     </script>
{% endblock %}
