<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ifp</title>

    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

   <body>
     <div class="ui container" style="width: 1080px; height: 1150px; margin: 0 auto; padding-top: 50px; position: relative;">
       <h2>Thermal Expansion Coefficient of Solids</h2>
       <button class="ui primary button pull-right" onclick="window.location='/deney2/part2'" style="margin-top: -50px;">
	 Save Your Results
       </button>
       <span style="float:left; margin-top:10px;">Measure the initial length</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     L1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="mcup">
	   <div class="ui basic label">
	     mm
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the initial temperature</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     T1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="mw_mcup">
	   <div class="ui basic label">
	     C
	   </div>
	 </div>
	 <br>
	 <div style="margin-top:10px;">Measure the last temperature from thermometer and the expansion at the rod from the micrometer.</div>

	 <div style="width:50%;">
	 <table class="ui celled table" style="width: 300px;margin:0 auto; margin-top: 20px;">
	   <thead>
	     <tr>
	       <th style="width: 100px;">T2 (C)</th>
	       <th style="width: 200px;">dL (mm)</th>
	     </tr>
	   </thead>
	   <tbody>
	     <tr>
	       <td>25</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>30</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>40</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>50</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>60</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>70</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>80</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;">
		 </div>
	       </td>
	     </tr>
	   </tbody>
	   </table>
	 </div>
	 </br>
	 <span style="float:left;">The slope of the graph is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="mcold" disabled>
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">The thermal expansion coefficient is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="mcold" disabled>
	   <div class="ui basic label">
	     g
	   </div>
	 </div>
	 <br>
	 <span style="float:left;">The absolute error is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	 </div>
	 <br>
	 <span style="float:left;">and the relative error is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" disabled>
	 </div>
	 <br>
     </div> <!-- container -->
     <script>
       {% include 'js/deney2.js' %}
     </script>
   </body>
