{% extends "navigation.html" %}
{% block content %}
<div style="height: 1300px;margin-top:50px;">
       <h2>Thermal Expansion Coefficient of Solids</h2>
       <span style="float:left; margin-top:10px;">Measure the initial length</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     L1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="L1">
	   <div class="ui basic label">
	     mm
	   </div>
	 </div>
	 <br>
	 <span style="float:left; margin-top:10px;">Read the initial temperature</span>
	 <div class="ui fluid right labeled input" style="width: 195px; margin-left: 50px; padding-left: 30px;">
	   <div class="ui label">
	     T1
	   </div>
	   <input type="text" placeholder="#number" style="width: 110px;" id="T1">
	   <div class="ui basic label">
	     C
	   </div>
	 </div>
	 <br>
	 <div style="margin-top:10px;">Measure the last temperature from thermometer and the expansion at the rod from the micrometer.</div>

	 <div style="width:50%;">
	 <table class="ui celled table" style="width: 300px;margin:0 auto; margin-top: 20px;">
	   <thead>
	     <tr>
	       <th style="width: 100px;">T2 (C)</th>
	       <th style="width: 200px;">dL (mm)</th>
	     </tr>
	   </thead>
	   <tbody>
	     <tr>
	       <td>25</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L2">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>30</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L3">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>40</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L4">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>50</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L5">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>60</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L6">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>70</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L7">
		 </div>
	       </td>
	     </tr>
	     <tr>
	       <td>80</td>
	       <td style="padding:0;">
		 <div class="ui input" style="width: 100%;">
		   <input type="text" placeholder="#number" style="border:none;" id="L8">
		 </div>
	       </td>
	     </tr>
	   </tbody>
	   </table>
	 </div>
	 </br>

	 <div style="width: 100%; float:left; margin-top:10px; margin-bottom: 10px;">
	 <div style="height: 40px; width: 100%">
	   <button class="ui primary button pull-left" style="margin-top: 20px;" onclick="calculate();">
	     Calculate Results
	   </button>
	 </div>
	 <div class="ui section divider"></div>

	 <img id="fig" style="visibility: hidden;">

	 <div class="ui section divider"></div>
	 
	 <span style="float:left;">The slope of the graph is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="slope" disabled>
	 </div>
	 <br>
	 <span style="float:left;">The thermal expansion coefficient is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder=". . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="a" disabled>
	 </div>
	 <br>
	 <span style="float:left;">and the relative error is </span>
	 <div class="ui transparent input" style="width: 195px; padding-left: 30px; margin-bottom:10px;">
	   <input type="text" placeholder="% . . . . . . . . . . . . . . . . . . . . . . . . . . . ." style="width: 110px;" id="rel_error" disabled>
	 </div>
	 <br>
</div>
{% endblock %}
{% block js %}
	 <script>
	   data = {{data}}
       {% include 'js/deney4.js' %}
     </script>
{% endblock %}
