{% extends "navigation.html" %}
{% block content %}
      <p><h2>Select a .csv file and preview columns</h2></p>
      {% if error_msg %}
      <h4>{{error_msg}}</h4>
      {% endif %}
      <form enctype="multipart/form-data" action="/upload" method="post">
	CSV File: <input type="file" name="filearg" />
	<br />
	<br />
	<div style="width: 180px; float: left; margin-right: 15px;">
	  <div class="ui selection dropdown" id="sep_dropdown">
	    <input type="hidden" name="separator">
	    <i class="dropdown icon"></i>
	    <div class="default text">Select a separator</div>
	    <div class="menu">
	      <div class="item" data-value="0">Comma ,</div>
	      <div class="item" data-value="1">Semicolon ;</div>
	    </div>
	  </div>
	</div>
	<button class="ui primary button" type="submit">
	  Upload
	</button>
      </form>
      <div id="preview">
	{% if filename %}
	<h3 class="ui left floated header">Preview</h3>(<span class="ui header" id="filename" separator="{{separator}}" style="font-weight: normal;">{{filename}}</span>)
	<div style="height: 56px; float: right;">
	  <button class="ui primary button" id="save_csv_preview" onclick="save_csv_preview();" style="margin-top: 19px;">
	    Save
	  </button>
	</div>
	<div style="width: 180px; float: right; margin-right: 15px;">
	  <span>Name Column</span>
	  <div class="ui selection dropdown" id="name_dropdown">
	    <input type="hidden" name="gender">
	    <i class="dropdown icon"></i>
	    <div class="default text">Name Column</div>
	    <div class="menu">
	      {% for col in columns %}
	      <div class="item" data-value="{{loop.index}}">{{col}}</div>
	      {% endfor %}    
	    </div>
	  </div>
	</div>
	<div style="width: 180px; float: right; margin-right: 15px; margin-bottom: 15px;">
	  <span>#ID Column</span>
	  <div class="ui selection dropdown" id="id_dropdown">
	    <input type="hidden" name="gender">
	    <i class="dropdown icon"></i>
	    <div class="default text">#ID Column</div>
	    <div class="menu">
	      {% for col in columns %}
	      <div class="item" data-value="{{loop.index}}">{{col}}</div>
	      {% endfor %}    
	    </div>
	  </div>
	</div>
	{{html}}
      </div>
      {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
      $('.dropdown').dropdown({
      onChange: function(){
      $('#save_csv_preview').popup('hide');
      }
      });
      {% include 'js/upload_csv.js' %}
    </script>
{% endblock %}
